.contentContainer {
  padding: 2rem 4rem;
}

@media screen and (max-width: 630px) {
  .contentContainer {
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
