/* Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 60px;
  background-color: #ffff;
}

.title {
  font-family: "Inter", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.searchBox {
  position: relative;
  width: 351px;
  height: 40px;
  background: #f9f9fb;
  border-radius: 6px;
}

.inputText {
  background-color: #f9f9fb;
}
.searchText {
  position: absolute;
  left: 12px;
  top: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #c0c0c5;
}

.searchIcon {
  position: absolute;
  right: 12px;
  top: 12px;
}

@media (max-width: 992px) {
  .searchBox {
    width: 100%;
    margin-bottom: 1rem;
  }
}
