/* Navbar.module.css */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  min-height: 60px;
  background-color: #ffff;
  width: 100%;
}

.searchBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 1rem;
  align-items: center;
  width: 351px;
  height: 40px;
  background: #f9f9fb;
  border-radius: 6px;
}

.title {
  font-family: "Inter", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-left: 3rem;
}

.inputText {
  background-color: #f9f9fb;
  width: 100%;
  outline: none;
  border: none;
}

.searchText {
  border: none;
  background-color: #f9f9fb;
}

.searchIcon {
  padding: 14px 8px 14px 13px;
}

@media screen and (max-width: 630px) {
  .title {
    display: none;
  }
}
